<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<title>Login</title>








</head>

<body>



	<div class="container-fluid" ng-controller="UserController">

		<div class="row">

			<div class="col-md-12">

				<form role="form">

					<div class="form-group">



						<label for="userName"> Email address </label> <input

							type="loginname" ng-model="user.userName" class="form-control" id="userName">

					</div>

					<div class="form-group">



						<label for="password"> Password </label> <input

							type="password" ng-model="user.password" class="form-control" id="password">

					</div>

		

					<button type="submit" class="btn btn-primary" value="login" ng-click="login()">Submit</button>

				</form>

			</div>

		</div>

	</div>



	
	<script src="/UserController.js"></script>



</body>

</html>